/*************************************************************/
/**************************** Core ***************************/
/*************************************************************/

html,
body {
    color: #f5f5f5; /* grey-3 */
    background: #262626; /* grey-9 */
}

a {
    color: #91d5ff; /* blue-3 */
    text-decoration: none;
}

a:active {
    color: #40a9ff; /* blue-5 */
}

img {
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
}

/*************************************************************/
/*************************** Header **************************/
/*************************************************************/

.header__title a {
    color: #f5f5f5;
}

/*************************************************************/
/*************************** Posts ***************************/
/*************************************************************/

.posts__classify strong {
    color: #36cfc9; /* cyan-5 */
}

.posts__title a {
    color: #f5f5f5;
}

.posts__desc {
    color: #d9d9d9; /* grey-5 */
}

.posts__picture {
    background-color: #bfbfbf; /* grey-5 */
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
}

/*************************************************************/
/*************************** Post ****************************/
/*************************************************************/

.post {
    color: #d9d9d9; /* grey-5 */
}

.post__title {
    color: #f5f5f5; /* grey-3 */
}

.post__contents code {
    border-color: #787878; /* manual */
    background: #595959; /* grey-8 */
}

.post__contents pre[class*=language] {
    background: #383838; /* manual */
    border: 1px solid #4d4d4d; /* manual */
}

.post__contents figure figcaption {
    color: #d9d9d9; /* grey-5 */
}

.post__contents blockquote {
    color: #13c2c2; /* cyan-6 */
}

.post__contents blockquote a {
    color: #91d5ff; /* geekblue-5 */
}

.post__contents blockquote a:active {
    color: #40a9ff; /* geeblue-7 */
}

/*************************************************************/
/*************************** Media ***************************/
/*************************************************************/

.media__medium a,
.media__medium a:active {
    color: #bfbfbf; /* grey-6 */
}

/*************************************************************/
/*************************** Meta ****************************/
/*************************************************************/

.meta {
    color: #bfbfbf; /* grey-6 */
}

.meta__categories a {
    color: #bfbfbf;
}

/*************************************************************/
/*************************** Tags ****************************/
/*************************************************************/

.tags__link {
    background: #595959; /* grey-8 */
    color: #f5f5f5;
}

/*************************************************************/
/*************************** Alert ***************************/
/*************************************************************/

.alert--info {
    background: #006d75; /* cyan-8 */
    border-color: #08979c; /* cyan-7 */
    color: #87e8de; /* cyan-3 */
}

.alert--info a {
    color: #adc6ff; /* geekblue-3 */
}

.alert--info a:active {
    color: #85a5ff; /* geekblue-4 */
}

/*************************************************************/
/************************ Navigation *************************/
/*************************************************************/

.navigation__link {
    color: #f5f5f5; /* grey-3 */
}

/*************************************************************/
/************************ Pagination *************************/
/*************************************************************/

.pagination__pick {
    color: #bfbfbf;
    /*fill: #f5f5f5;*/
}

.pagination__pick.on,
.pagination__pick:hover {
    color: #f5f5f5;
    /*fill: #f5f5f5;*/
}