<footer class="footer">
  <div class="footer__media">
    <%- partial('media') %>
  </div>
  <div class="footer__copyright">
    © 2014–<%= date(Date.now(), 'YYYY') %> Copyright by <a href="/"><%= config.author %></a>.<br />
    All rights reserved.
  </div>
</footer>
