<footer class="footer clear">
    <div class="footer__inner">
        <div class="footer__social">
            <%- partial('socials') %>
        </div>
        <div class="footer__copyright">
            <span>
                © 2015–<%= moment(Date.now()).year() %> Copyright by <a href="/"><%= config.author %></a>.
                <br/>All rights reserved.
            </span>
        </div>
    </div>
</footer>
