// ------------------------------------- //
// Style of Articles
// ------------------------------------- //

$module: 'articles';

.#{$module} {
    margin-top: $space-default;

    &__inner {
        position: relative;
    }

    &__classify {
        margin: $space-square 0 $space-default;
        text-align: center;
        font-size: 1.75rem;
        color: $gray-light;

        p {
            margin: 0;
        }

        strong {
            color: $mint;
            font-weight: 300;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0 0 0 (-$space-default);
    }

    &__item {
        width: percentage(33.3 / 100);
        padding-bottom: percentage(33.3 / 100);
        float: left;
        position: relative;
    }

    &__contents {
        position: absolute;
        background: $white;
        padding: $space-square $space-square 0;
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(#151514, .1);
        top: $space-default;
        left: $space-default;
        right: 0;
        bottom: 0;

        &::after {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 160px;
            content: ' ';
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr=$white, GradientType=0);
        }
    }

    &__meta {
        font-size: .75rem;
        margin: 0 0 18px;
    }

    &__title {
        margin: 0 0 12px;
        font-size: 2rem;
        line-height: 2.25rem;

        a {
            color: $font-color-dark;
        }
    }

    @include tablet {
        &__item {
            width: 50%;
            padding-bottom: 50%;
        }
    }

    @include mobile {
        &__list {
            margin-left: 0;
        }

        &__item {
            width: 100%;
            padding-bottom: 100%;
        }

        &__contents {
            top: $space-gutter;
            left: 0;
            border-radius: 0;
        }
    }
}
