// ------------------------------------- //
// Style of Footer
// ------------------------------------- //

$module: 'footer';

.#{$module} {
    max-width: 940px;
    margin: 0 auto;
    color: $font-color;
    font-size: .865rem;
    line-height: 72px;

    &__inner {
        position: relative;
    }

    &__social {
        font-size: 1.125rem;
        float: left;
    }

    &__copyright {
        display: inline-block;
        float: right;

        br {
            display: none;
        }
    }

    @include mobile {
        line-height: 40px;

        &__social,
        &__copyright {
            float: none;
            text-align: center;
        }

        &__copyright {
            display: block;
            line-height: 20px;
            margin: 18px 0;

            br {
                display: block;
            }
        }
    }
}
