// ------------------------------------- //
// Style of Header
// ------------------------------------- //

$module: 'header';

.#{$module} {
    width: 100%;

    &__inner {
        position: relative;
        padding: 0;
    }

    &__brand {
        display: table;
        position: relative;
        float: left;
    }

    &__profile,
    &__titles {
        display: table-cell;
        vertical-align: middle;
    }

    &__profile {
        font-size: 0;
        padding-right: 14px;
    }

    &__picture {
        width: 42px;
        height: 42px;
        border-radius: 42px;
    }

    &__title {
        font-size: 1rem;
        margin: 0;
    }

    &__subtitle {
        font-size: .875rem;
        margin: 0;
        padding-top: .25rem;
    }

    @include mobile {
        &__inner {
            padding: 0 $space-gutter;
        }
    }
}
