// ------------------------------------- //
// Style of Home
// ------------------------------------- //

$module: 'home';

.#{$module} {
    max-width: 940px;
    padding: 60px 0 18px;
    margin: 0 auto;

    &__inner {
        position: relative;
    }

    &__navigation {
        margin-top: $space-default;
    }

    @include mobile {
        padding-top: 40px;
    }
}
