// ------------------------------------- //
// Style of Post
// ------------------------------------- //

$module: 'post';

.#{$module} {
    max-width: 940px;
    padding: 60px 0 18px;
    margin: 0 auto;

    &__inner {
        position: relative;
    }

    &__body {
        background: $white;
        margin-top: $space-square;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(#151514, .1);
        overflow: hidden;
    }

    &__mainland {
        padding: 140px 160px 120px;
    }

    &__title {
        font-size: 2.125rem;
        margin: 0 0 32px;
    }

    &__meta {
        font-size: .875rem;
        margin: 0 0 46px;
    }

    &__tags {
        font-size: .875rem;
        padding: 10px 0;
        border-bottom: 1px solid $border-color;
    }

    &__navigation {
        padding-top: 14px;
    }

    &__attachment {
        background: #fafafa;
        border-top: 1px solid $border-color;
        padding: 60px 160px 140px;
    }

    @include tablet {
        &__mainland {
            padding: 90px 100px 80px;
        }

        &__attachment {
            padding: 80px 100px 90px;
        }
    }

    @include mobile {
        padding-top: 40px;

        &__mainland {
            padding: 48px 44px 40px;
        }

        &__attachment {
            padding: 40px 44px 48px;
        }
    }
}
