// ------------------------------------- //
// Style of Socials
// ------------------------------------- //

$module: 'socials';

.#{$module} {
    &__inner {
        position: relative;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        display: inline-block;
        margin-right: .375rem;
    }
}
